<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Administrative page</title>
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link rel="stylesheet" href="/stylesheets/managerAndMaster.css">
	
</head>

<body>
	{{{ body }}}

	
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Submitted!</h2>
    </div>
    <div class="modal-body">
      <p>Updated Successfully!</p>
    </div>
  </div>
</div>



</body>

</html>