<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="text-align: center;">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Submitted!</h2>
    </div>
    <div class="modal-body">
      <p>Updated Successfully!</p>
      <p id="addNoteMsg"></p>
    </div>
  </div>
</div>


<nav class="navbar navbar-default" style="text-align: center;background-color:#666699">
  <div class="container">
    <div class="row">
      <div class="col-sm-3" style="float:left">

      </div>
      <div class="col-sm-6">
        <h1 class="stockMe-logo">StockME</h1>
        <hr>
        <h4 style="color: white;">Manager page</h4>
      </div>
      <div class="col-sm-3" style="float:right"></div>

    </div>
  </div>
</nav>


<ul class="nav" style="text-align: center">
  <li class="nav-item" id="user-list-info">
    <a class="nav-link active">User List</a>
  </li>

  <form class="user-list-info">
    <ul class="list-group">
      {{#each userlist}}
      <li class="list-group-item">{{this}}
        <button class="view-details greenbtn" name="{{this}}">View Details</button>
      </li>
      {{/each}}
    </ul>
  </form>

  <li class="nav-item" id="account-management">
    <a class="nav-link">Administrative Accounts</a>
  </li>
  <form class="account-management">
    <ul class="list-group">
      {{#each userlist}}
      <li class="list-group-item ">{{this}}<button class="delete-account orangebtn" name="{{this}}">Delete this
          account</button></li>
      {{/each}}
    </ul>
  </form>

  <li class="nav-item" id="notePanel">
    <a class="nav-link">Adding Notes</a>
  </li>

  <form class="notePanel" style="display: inline-block;">
    <div class="col-md-12 notePanel">
      <form class="create-notes">
        <div class="form-group" style="display: inline-block;">
          <p>
            <label for="account-notes">Username</label>
            <input type="text" class="form-control" id="usernameByInput" placeholder="Username"
              style="text-align: center"></input>

            <span class="hint" style="font-size: 15px;"><span style="color:red">Caution!</span><span> You are updating
                this user</span></span>

          </p>
          <p>
            <label for="account-notes">Account Notes</label><br>
            <textarea type="text" class="form-control" id="account-notes" placeholder="Account Notes"
              style="text-align: center;"></textarea>
          </p>
          <button type="submit" class="btn btn-default" id="submit"
            style="width: 100%;background: rgb(66, 184, 221)">Submit</button>

        </div>
        
      </form>
    </div>
    <br><br>
    </div>
  </form>


</ul>




<div class="row">

  <div style="text-align: center;">


    <br><br>
    <p id="selectedUser"></p>
    <h3 id="usernameDisplay"></h3>

    <p class="user-list">Please select a user</p>



    <hr style="border: 5px dashed #1C6EA4;">
  </div>

</div>
<div class="row">

  <div style="text-align: center;">
    <li class="nav-item">
      <a class="nav-link disabled" href="/login" tabindex="-1" aria-disabled="true">
        <h4>- Log Out -</h4>
      </a>
    </li>
    </ul>
  </div>

</div>
<script src="/js/managers.js"></script>