
<h1>Welcome to manager page!</h1>
<ul>
  {{#each userlist}}
    <p>{{userlist_username}}
    <button class="view-details">View Details</button> <button class="delete-account">Delete this account</button></p>
  {{/each}}
  
</ul>


<form class="create-form">

  <div class="form-group">
    <textarea id="burger" name="burger_name"></textarea>
  </div>

  <button type="submit" id="submit">Submit</button>
  <p>Enter a burger you want to eat and click the "Submit" button</p>
</form>