form.signup,
form.login {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}
label{
  font-size: 25px;
}

main,
header,
nav,
aside,
section {
  display: block;
}

#email-input,#password-input{
  text-align: center;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
  background-color: #1e1e2f;
  
}

.navbar{
  background-color: #1e1e2f;
}

a,h1,h2,h3,h4,h5,label{
 
  color: #ffffff;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.sidebar {
  float: left;
  background: #ba54f5;
  display: block;
  width: fit-content;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
 

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

hr.new {
  border-top: 1px dotted gray;
}


footer{
  float:right;
  width: 100px;
  padding:15px 15px;
  font-size:18px;
  line-height:20px;
  height:50px;
  text-align: center;
}

.logout{
 
  height: 50px;
  display: inline-block;
}

.card p {
  color: rgba(255, 255, 255, 0.8);
}

form{
  width: fit-content;
  display: inline-block;
}

.btn-adjust{
  float:right;
}
/* main-panel */

.main-panel {
  position: relative;
  float:left;
  width: 46%;
  background: linear-gradient(#1e1e2f, #1e1e24);
  display: block;
  margin-left: 15px;
  
}

.welcome{
  display: block;
  text-align: center;
}

.stock-info{
  font-size: 25px;
  display: none;
}
.stock-purchasedHistory{
  display: none;
}

.inverstments-panel{
  display: none;
}


.right-menu{
  float: right;
  width: 30%;

}
.stock-opration{
  display: none;
  
}

button{
  margin: 2.5px 2.5px 2.5px 2.5px;
}

.profitForm{
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
}

.form-margin {
  margin-top: 2px;
  margin-bottom: 2px;
}

.signUpSuccessed{
  display: none;
}

h1.ml8 {
  font-weight: 900;
  font-size: 4.5em;
  color: #fff;
  width: 3em;
  height: 3em;
}

.ml8 .letters-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 1em;
}

.ml8 .letters {
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.7em;
  right: -0.12em;
  top: -0.2em;
}

.ml8 .bang {
  font-size: 1.4em;
  top: auto;
  left: -0.06em;
}

.ml8 .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.ml8 .circle-white {
  width: 3em;
  height: 3em;
  border: 2px dashed white;
  border-radius: 2em;
}

.ml8 .circle-dark {
  width: 2.2em;
  height: 2.2em;
  background-color: #4f7b86;
  border-radius: 3em;
  z-index: 1;
}

.ml8 .circle-dark-dashed {
  border-radius: 2.4em;
  background-color: transparent;
  border: 2px dashed #4f7b86;
  width: 2.3em;
  height: 2.3em;
}

.container-full{
  width: 100%;
  height: 100%;
  text-align: center;
}